# Node Environment
NODE_ENV=dev

# Port
PORT=3333

# Database
DATABASE_URL="postgresql://docker:docker@localhost:5432/jitterbit?schema=public"

# Auth
JWT_SECRET="your-secret-key"
API_USERNAME="admin"
API_PASSWORD="admin"